/*Начальная разметка*/
.block{
	background: #eee;
	border: 1px dashed #ccc;
}
img{
	width: 100%;
	height: auto;
}

/* Large Devices, Wide screens */
@media only screen and (max-width: 1200px) {
	
}
/* Medium Devices, Desctops */
@media only screen and (max-width: 992px) {
	
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	
}

/*Мои стили*/
